@import url(http://fonts.googleapis.com/css?family=Holtwood+One+SC);

body {
  background-color: red;
}

.header {
  background-color: red;
  /*border-bottom: 1px solid #000;
*/
  text-align: center;
}

.header .logo .fineprint {
  color: #fff;
  font-size: 20px;
  opacity: 0;
  position: relative;
  margin-top: -40px;
  transition: all 0.5s ease;
  -webkit-transform: scale(0.5);
}
.header .logo:hover .fineprint {
  opacity: 1;
  /*-webkit-transform: scale(1.5);
  */
  -webkit-transform: scale(1);
}

.links ul {
  list-style: none;
  margin-top: 40px;
}

.links ul a {
  position: relative;
  color: #000;
  line-height: 80px;
  font-size: 100px;
  font-weight: 900;
  font-family: 'Holtwood One SC', serif;
  text-decoration: none;
  transition: 0.5s all;
}
.links ul a:hover {
  color: #fff;
  text-shadow: 0px 10px 0px #000;
  top: -5px;
}
