<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="header">
      <div class="container">
        <h1 class="title logo"><a href="/">
            <img class="logo" src="/images/ExtraCrispy-logo.png" alt="extra crispy improv comedy troupe" />
          </a>
          <div class="fineprint">
            ( improv comedy troupe )
          </div>
        </h1>

        <div class="links">
          <ul>
            <li>
              <a href="https://vimeo.com/channels/extracrispy">Videos</a>
            </li>
            <li>
              <a href="http://www.youtube.com/user/ExtraCrispyImprov">More Videos</a>
            </li>
            <li>
              <a href="https://www.facebook.com/extracrispyimprovcomedy">Facebook</a>
            </li>
            <li>
              <a href="https://twitter.com/CrispyImprov">Twitter</a>
            </li>
            <li>
              <a href="https://www.google.com/calendar/embed?src=8aar60qsr3b309q3jgkgunfuc4%40group.calendar.google.com">Calendar</a>
            </li>
          </ul>
        </div>

        <!-- ical: https://www.google.com/calendar/ical/8aar60qsr3b309q3jgkgunfuc4%40group.calendar.google.com/public/basic.ics
        -->

      </div>
    </div>

    <div class="container">
      <div class="site">

            {{ content }}

        <div class="footer">
          <div class="contact">
            <p>
            </p>
          </div>
          <div class="contact">
            <!-- For booking information please contact  -->

          </div>
        </div>
      </div>
    </div>

  </body>
</html>
